/* nav bar */
.right {
    float: right;
}

.left {
    float: left;
}



#nav {
    display: block;
    background-color: white;
    display: inline-block;
    width: 98vw;
    border: 3px solid #00ff80;
    border-radius: 5px;
    margin: 6px;
}

/*main section*/

body {
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
    background-color: #adffd6;
    #adffd6
}

#quizBody {
    text-align: center;
    padding: 86.4px;
}

h4 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: #007423;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #80ffa6;
}

#quiz {
    text-align: center;
}

        
